{% use "game/game-info.html.twig" %}

<!DOCTYPE html>
<html>
    <head>
        <title>Game</title>
        <link href="/public/css/game.css" type="text/css" rel="stylesheet"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>

        <script type="text/javascript" src="/public/js/board.js"></script>
        <script type="text/javascript" src="/public/js/town.js"></script>
        <script type="text/javascript" src="/public/js/resource.js"></script>
        <script type="text/javascript" src="/public/js/modal.js"></script>
    </head>
    <body>
        <div class="page">
            <div class="top">
                {% block top %}{{ parent() }}{% endblock %}
            </div>

            <div class="content">
                {% block content %}{% endblock %}
            </div>

            <div class="bottom">
                {% block bottom %}{{ parent() }}{% endblock %}
            </div>

            <div class="modal">
                <div class="modal-options container">
                    <div class="modal-close">X</div>
                </div>
                <div class="modal-content">
                    {% block modal %}{% endblock %}
                </div>
            </div>
        </div>

        <div class="hidden">
            <span class="boarddata">
                {% if boarddata %}
                    {{ boarddata|json_encode() }}
                {% else %}
                    null
                {% endif %}
            </span>
        </div>
    </body>
</html>