{% for building in buildings %}
    <div id="{{ building.name|replace({" ": "_"})|lower }}" class="building">
        <h2>{{ building.name }}</h2>
        <div class="tooltip">
            Level: {{ building.level }}
        </div>
    </div>
{% endfor %}

<div class="hidden">
    <span class="town-data">
        {% if towndata %}
            {{ towndata }}
        {% else %}
            null
        {% endif %}
    </span>
</div>