@import "reset";

@import "game-info";
@import "game-building";

.top{
  position: absolute;
  top: 0;
  left: 0;
  background-color: Red;
  width: 100%;
  z-index: 9999;
}

.content{
  background-color: blue;
  margin-top: 44px;
}

body.world-view{
  overflow: hidden;
}
body.world-view .content{
  margin-top: 0;
}

.bottom{
  background-color: orange;
  bottom: 0;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.tooltip{
  display: none;
  position: absolute;
}

.container:after{
  content: "";
  display: block;
  clear: both;
}

.hidden{
  display: none;
  visibility: hidden;
}

.t1{
  background-color: orange;
}
.t2{
  background-color: purple;
}
.t3{
  background-color: red;
}
.t4{
  background-color: cyan;
}

.world-map{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: deepskyblue;
}
.world-segment{
  width: 1000px;
  height: 1000px;
  position: absolute;
}