/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  outline: none !important; }

.town-control {
  width: 20%;
  margin: 0 auto;
  background-color: orange;
  text-align: center; }

.town-control > * {
  display: inline-block;
  float: left; }

.town-info {
  width: 80%; }

.town-right,
.town-left {
  width: 10%; }

.world-info {
  background-color: yellow;
  display: inline-block;
  float: left; }

.world {
  border-radius: 50%;
  background-color: purple;
  width: 40px;
  height: 40px; }

h1.town-name {
  text-align: center;
  font-size: 25px;
  margin: 0; }

ul.horizontal-list li {
  display: inline-block;
  float: left;
  margin: 0;
  border-left: 2px solid red;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px; }

.modal {
  position: fixed;
  width: 60%;
  height: 50%;
  top: 20%;
  background-color: aquamarine;
  left: 20%; }

.modal-options {
  width: 100%;
  background-color: red;
  text-align: right; }

.building {
  margin: 0;
  clear: both;
  display: inline-block;
  padding: 30px; }

.building:hover > .tooltip {
  display: block; }

.building#townhall {
  background-color: red; }

.building#temple {
  background-color: blue; }

.building#camp {
  background-color: orange; }

.building#workshop {
  background-color: yellow; }

.building#farm {
  background-color: green; }

.building#wall {
  background-color: magenta; }

.building#storage_room {
  background-color: purple; }

.building#market {
  background-color: brown; }

.building#dock {
  background-color: aqua; }

.top {
  position: absolute;
  top: 0;
  left: 0;
  background-color: Red;
  width: 100%;
  z-index: 9999; }

.content {
  background-color: blue;
  margin-top: 44px; }

body.world-view {
  overflow: hidden; }

body.world-view .content {
  margin-top: 0; }

.bottom {
  background-color: orange;
  bottom: 0;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 9999; }

.tooltip {
  display: none;
  position: absolute; }

.container:after {
  content: "";
  display: block;
  clear: both; }

.hidden {
  display: none;
  visibility: hidden; }

.t1 {
  background-color: orange; }

.t2 {
  background-color: purple; }

.t3 {
  background-color: red; }

.t4 {
  background-color: cyan; }

.world-map {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: deepskyblue; }

.world-segment {
  width: 1000px;
  height: 1000px;
  position: absolute; }

/*# sourceMappingURL=game.css.map */
